[Unit]
Description=Yips Heartbeat Service
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /home/katherine/Yips/cli/heartbeat.py
WorkingDirectory=/home/katherine/Yips

[Install]
WantedBy=default.target
